body {
    background-color: gray;
}

h1 {
    text-align: center;
}


.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem;
    padding-left: 90px;
}

.container {
    text-align: center;
}

img {
    max-width: 25%;
}