body {
    background-color: gray;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem;
    padding-left: 20px;
}

img {
    max-width: 25%;
}